@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@import "~bootstrap/scss/bootstrap.scss";
@import '~bootstrap-vue/dist/bootstrap-vue.css';

html, body, .content {
    font-family: "Noto Sans JP", Helvetica, sans-serif;
}

.error-text {
    text-transform: capitalize;
    text-align: center;
}

.centered-form {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}
